<div class="">
  <h1>Images App</h1>
  <form (ngSubmit)="onSubmitForm($event)" [formGroup]="uploadImageForm">
    <input type="file" name="image" formControlName="image" />
    <button type="submit">Submit</button>
  </form>
  <div *ngFor="let image of images">
    <h3>
      {{ image.originalName }}
    </h3>
    <img
      src="{{ URL + '?key=' + image.key + '&name=' + image.originalName }}"
      alt="{{ image.originalName }}"
    />
    <button (click)="onDeleteImage(image._id, image.key)">
      Delete {{ image.originalName }}
    </button>
  </div>
</div>
